@import "tailwindcss";
@plugin "@tailwindcss/container-queries";

/* Explicitly scan the output folder */
@source "../html&css/shivani";

@theme {
    --color-primary: oklch(0.5 0.2 250);
    --color-secondary: oklch(0.8 0.1 200);
    --animate-blob: blob 7s infinite;

    @keyframes blob {
        0% {
            transform: translate(0px, 0px) scale(1);
        }

        33% {
            transform: translate(30px, -50px) scale(1.1);
        }

        66% {
            transform: translate(-20px, 20px) scale(0.9);
        }

        100% {
            transform: translate(0px, 0px) scale(1);
        }
    }
}

/* Force class-based dark mode (matches main.js logic) */
@custom-variant dark (&:where(.dark, .dark *));